@tailwind base;
@tailwind components;
@tailwind utilities;

/* loop slider */
.loopslider {
    margin:  auto;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .loopslider infinity {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 60s linear infinite;
    
  }
  
  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }
  /* end of loop slider */
 